*{
  font-family: 'Crimson Text', serif;
}

body{
  margin: 0;
  padding: 0;
}

.title{
  background: center/100% url('./images/yugi_background.jpg');
  text-align: center;
  padding: 25px;
}

.title img{
  width: 50%;
}

.cardsInfo{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* CARDS LIST STYLE */
.cardsList{
  background-color: rgba(100, 175, 200, 0.700);
  border: 1px solid black;
  width: 50%;
  height: 100vh;
  overflow: scroll;
}

.cardsList table {
  border: 12.5px rgb(50, 50, 50) solid;
  border-radius: 3px;
  background: linear-gradient(to right,rgb(234,217,59), rgb(243,229,97), rgb(214,200,71), rgb(221,201,35));
}

.cardHead{
  border: 1px solid black;
}

.cardsList table thead tr{
  font-size: larger;
  font-weight: bolder;
}

.cardsList table thead tr td{
  background: url('./images/card_header.png');
  text-align: center;
  border: 2px outset;
  padding: 2.5px;
  border-radius: 4px;
}

.cardsList tbody td{
  font-size: 1.15rem;
  text-align: center;
}

.cardsList tbody td:nth-of-type(1), .cardsList tbody td:nth-of-type(3) a{
  font-weight: bolder;
  text-decoration: none;
}

.cardsList tbody td:nth-of-type(4) {
  color: brown;
  font-size: 1.5rem;
}

.cardsList tbody td:nth-of-type(5) {
  color: rgb(18, 88, 50);
  font-size: 1.25rem;
}

.cardsList tbody tr td img{
  width: 100px;
  height: 150px;
}

#cardType{
  border: none;
}

/* CARDS DEATAIL STYLE */
.cardDetail{
  border: solid 1px black;
  width: 50%;
}