body {
    margin: 0;
    padding: 0;
    background-color: rgb(192, 37, 37);
}

.header {
    text-align: center;
    color: yellow;
}

.pokedex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-info {
    border: 1px black solid;
    width: 12rem;
    height: 15rem;
}

.pokemon {
    display: flex;
    justify-content: center;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
}