
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    background-color: red;
    font-family: 'Audiowide', cursive;
    text-align: center;
}

#rankingsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ranking {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    width: 450px;
}

.ranking:hover {
    background-color: rgb(238, 180, 180);
    cursor: pointer;
}

.name {
    border-radius: 10px;
}

.name:hover {
    font-weight: bold;
    background-color: aliceblue;
}