
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

body {
    background-color: rgb(196, 36, 36);
    font-family: 'Audiowide', cursive;
    text-align: center;
}

#title {
    font-size: 100px;
    background-color: white;
    border-radius: 20px;
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

#rankingsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ranking {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 2px black solid;
    border-radius: 10px;
    background-color: white;
    width: 450px;
}

.ranking:hover {
    background-color: rgb(238, 180, 180);
    cursor: pointer;
}

.name {
    border-radius: 10px;
}

.name:hover {
    font-weight: bold;
    background-color: aliceblue;
}

.fighterPic {
    border: 3px black solid;
    border-radius: 20px;
    width: 300px;
    display: block;
    margin: 10px auto;
}

.fighterInfo {
    border: 2px black solid;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    display: inline-block;
}

a {
    color: black;
    text-decoration: none;
}